@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Layout
@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Views.Shared.Components.AppAreaNameLogo
@model HeaderViewModel
@{
    Layout = null;
    var theme = await GetTheme();
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})">
    @await Component.InvokeAsync(typeof(AppAreaNameLogoViewComponent), new {LogoSkin = theme.BaseSettings.Layout.DarkMode ? "dark": "light", logoClass = "d-none d-lg-inline h-30px"})
    @await Component.InvokeAsync(typeof(AppAreaNameLogoViewComponent), new {LogoSkin = theme.BaseSettings.Layout.DarkMode ? "dark-sm": "light-sm", logoClass = "d-lg-none h-25px"})
</a>
