<div class="d-flex flex-column w-100 h-100">
    <table class="test-table">
        <thead class="test-table-thead">
            <tr>
                <th scope="col" class="small-col">Mã MH</th>
                <th scope="col" class="big-col">Môn học</th>
                <th scope="col" class="small-col">Đề thi</th>
                <th scope="col" class="small-col">Học kỳ</th>
                <th scope="col" class="big-col">Giảng viên</th>
                <th scope="col" class="big-col">Ngày thi</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of pagedTests">
                <td>{{ test.courseId }}</td>
                <td>{{ test.courseName }}</td>
                <td>{{ test.examType }}</td>
                <td>{{ test.semester }}</td>
                <td>{{ test.teacher }}</td>
                <td>{{ test.date.toLocaleDateString() }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex mt-5 justify-content-between">
        <div class="d-flex align-items-center gap-2" style="width: 400px">
            <label class="mr-8" style="font-size: 1.2rem; font-weight: 700">Hiển thị</label>
            <select
                class="form-control"
                [(ngModel)]="itemsPerPage"
                (ngModelChange)="updatePagedTests()"
                style="width: 50px"
            >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label class="ml-8">kết quả mỗi trang</label>
        </div>
        <pagination
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            (pageChanged)="pageChanged($event)"
            [maxSize]="5"
            [boundaryLinks]="true"
            [rotate]="false"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
        ></pagination>
    </div>
</div>
