<div class="d-flex flex">
    <sub-header
        [title]="'Đề thi '+ examService.course + ' môn ' + examService.examType + ' (' + examService.startDate.toLocaleDateString() + ' - ' + examService.endDate.toLocaleDateString() + ')'">
    </sub-header>
    <div class="d-flex flex-column mb-3" style="width: 70%; padding: 20px; background-color:#ffffff; ">
        <div class="flex align-self-end  border border-danger p-1 border-1 text-center"
            style="font-size: 16px;width: 250px; background-color:#ffffff; ">
            Thời gian còn lại:
            {{counter | formatTime}}
        </div>

        <div style="width: 100%; margin-top: 40px;"> <questions-exam-question
                *ngFor="let question of questionService.questionList; let i = index" [id]="i"
                [questionInput]="question"></questions-exam-question></div>
    </div>


    <div style="width: 30%;background-color: #f8f9fa; ">
        <div class="border border-info border-1  rounded justify-content-center align-items-center"
            style="margin:25px; height: fit;background-color:#e0dcdc">
            <div class="text-center py-2 rounded-top"
                style=" font-size: 20px; border-bottom: 1px solid #6a737b ; color: #524cd2; background-color: white;">
                Bảng câu hỏi</div>
            <div class="container p-0 rounded-bottom overflow-hidden text-center">
                <div class="row justify-content-start align-self-center text-center py-8 px-8 "
                    style=" font-size: 18px; background-color: #f8f9fa;">
                    <div class=" border border-dark text-center  justify-content-center align-items-center py-3 px-1 mx-1 my-2"
                        *ngFor="let number of getNumberArray(questionService.questionList.length)"
                        style="width: 34px;background-color: #ffffff;  border-radius: 3px; cursor: pointer; ">
                        <b class="item fs-5">{{ number }}</b>
                    </div>
                </div>
            </div>

        </div>
        <!-- <span class="px-5" style="font-size: 18px; color: #524cd2;cursor: pointer; margin: 25px;"
            (click)="openDialog()">Hoàn thành
            bài làm</span> -->
        <div class="d-flex justify-content-end px-2 " style=" font-size: 18px; cursor: pointer; margin: 25px;">
            <button (click)="openDialog()" type="button" class="btn btn-secondary text-light" data-placement="bottom"
                style="background: #524cd2; font-size: 16px; ">
                Hoàn thành
                bài làm
            </button>
        </div>



    </div>
    <app-erase-dialog *ngIf="showDialog" (confirm)="saveExam()" (deny)="closeDialog()"></app-erase-dialog>

</div>