.label-font{
    color: #116a65;
    font-weight: 700;
}

.button-create {
    margin-left: 10px;
    margin-bottom: 20px;
}

@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog {
    z-index: 1000;
    animation: slideDown 0.5s;
  }