<div class="border p-5 rounded border-2 pt-5 m-3 bg-light">
    <div class="d-flex justify-content-between px-8">
        <h3 class="card-title text-dark font-weight-bold mb-1">Question {{questionInput.id}}</h3>
        <button class="btn btn-danger" (click)="openDialog()">Hủy câu hỏi</button>
    </div>
    
    <div class="card-body px-0">
    <div class="d-flex align-items-center flex-column w-full gap-4">
        <div class="d-flex align-items-center justify-content-between w-100 border-bottom border-top px-8">
            <div class="d-flex align-items-center w-50">
                <div class="card-title text-dark w-50 text-center font-weight-bold">Enter Question</div>
                <select class="form-control form-control-solid bg-white" id="exampleSelect1" (change)="setQuestionType($event.target.value)">
                    <option *ngFor="let item of typeList" [value]="item">{{item}}</option>
                </select>
            </div>
            <div class="d-flex align-items-center">
                <input
                    [(ngModel)]="questionInput.questionPoint"
                    type="text"
                    class="form-control form-control-solid bg-primary text-white font-weight-bold"
                    placeholder="1"
                    style="width: 50px; margin-left: 10px; margin-right: 10px"
                />
                <span class="card-title text-dark mb-1 bg-white">Point</span>
            </div>
        </div>
        <p-editor [(ngModel)]="questionInput.questionContent" class="w-100" name="HtmlEditorInput" [style]="{ height: '300px' }"></p-editor>
       
        <!-- For case multiple choice for 4 answers -->
        <div class="d-flex flex-column w-100 gap-4 px-8" *ngIf="questionInput.questionType === 'Multiple choice'">
            <h4 class="card-title text-dark font-weight-bold mb-1" style="width: 40%">Trả lời</h4>
            <div class="d-flex align-items-center justify-content-between" style="width: 40%">
                <h5 class="card-title text-success font-weight-bold mb-1">Câu trả lời đúng:</h5>
                <input [(ngModel)]="questionInput.rightAnswer" class="form-control form-control-solid bg-white border border-dark" style="width: 20rem"/>
            </div>
            <div class="d-flex align-items-center justify-content-between" style="width: 40%">
                <h5 class="card-title text-danger font-weight-bold mb-1">Câu trả lời sai:</h5>
                <input
                    type="text"
                    class="form-control form-control-solid bg-white  border border-dark"
                    style="width: 20rem; margin-left: 20px"
                    (blur)="setWrongAnswers($event.target.value)"
                />
            </div>
            <div class="d-flex align-items-center justify-content-between" style="width: 40%">
                <h5 class="card-title text-danger font-weight-bold mb-1">Câu trả lời sai:</h5>
                <input
                    type="text"
                    class="form-control form-control-solid bg-white  border border-dark"
                    style="width: 20rem; margin-left: 20px"
                    (blur)="setWrongAnswers($event.target.value)"
                />
            </div>
            <div class="d-flex align-items-center justify-content-between" style="width: 40%">
                <h5 class="card-title text-danger font-weight-bold mb-1">Câu trả lời sai:</h5>
                <input
                    type="text"
                    class="form-control form-control-solid bg-white  border border-dark"
                    style="width: 20rem; margin-left: 20px"
                    (blur)="setWrongAnswers($event.target.value)"
                />
            </div>
        </div>
        <!-- For case boolean for 2 answers: write or wrong -->
        <div class="d-flex flex-column w-100 gap-4 px-8" *ngIf="questionInput.questionType === 'True/False'">
            <h4 class="card-title
            text-dark font-weight-bold mb-1" style="width: 40%">Trả lời</h4>
            <div class="d-flex align-items-center justify-content-between" style="width: 40%">
                <h5 class="card-title
                text-success font-weight-bold mb-1">Câu trả lời đúng:</h5>
                <input [(ngModel)]="questionInput.rightAnswer" type="text" class="form-control form-control-solid bg-white  border border-dark" style="width: 20rem"/>
            </div>
            <div class="d-flex align-items-center justify-content-between" style="width: 40%">
                <h5 class="card-title
                text-danger font-weight-bold mb-1">Câu trả lời sai:</h5>
                <input type="text" class="form-control form-control-solid bg-white  border border-dark" style="width: 20rem; margin-left: 20px" (blur)="setWrongAnswers($event.target.value)" />
            </div>
        </div>
        <div class="w-100 px-0">
            <file-upload-component link="/" [id]="id"></file-upload-component>
        </div>
    </div>
</div>
<app-erase-dialog *ngIf="showDialog" (confirm)="deleteQuestion()" (deny)="closeDialog()"></app-erase-dialog>
<app-success-dialog *ngIf="showSuccessDialog"></app-success-dialog>




