@using MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.Common.Modals
@model MyCompanyName.AbpZeroTemplate.Web.Areas.AppAreaName.Models.DynamicEntityProperty.CreateEntityDynamicPropertyViewModel

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("AssignDynamicPropertiesToEntity")))

<div class="modal-body">
    <input type="hidden" id="edp-create-modal-entityFullName" value="@Model.EntityFullName">
    <div class="mb-5">
        <label for="edp-create-modal-dynamicPropertyId" class="form-label">@L("Property")</label>
        @Html.DropDownList("edp-create-modal-dynamicPropertyId", new SelectList(Model.DynamicProperties, "Id", "DisplayName"), L("SelectADynamicProperty"), new {@class = "form-control"})
    </div>
</div>

@await Html.PartialAsync("~/Areas/AppAreaName/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
